.cart-container{
    padding: 2rem 4rem;
}

.cart-container h2{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.cart-container ,.titles{
    margin: 1rem 0 2rem 0;
}

.cart-container ,.titles h3{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.cart-item, .cart-container, .titles{
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
}

.cart-item{
    border-top: 1px solid rgba(187, 187, 187);
    padding: 1rem 0;
}

.cart-container, .titles, .product-title{
    padding-left: 0.5rem;
}

.cart-container, .titles, .total{
    padding-right: 0.5rem;
    justify-self: right;
}

.cart-item, .cart-product{
    display: flex;
}

.cart-item, .cart-product, img{
    width: 100px;
    max-width: 100%;
    margin-top: 1rem;
}

.cart-item, .cart-product, h3{
    font-weight: 400;    
}

.cart-item, .cart-product, button{
    border: none;
    outline: none;
    margin-top: 0.7rem;
    cursor: pointer;
    background: none;
    color: gray;
}

.cart-item, .cart-product, button:hover{
    color: black;
}

.cart-product-quantity{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 130px;
    max-width: 100%;
    border:0.5px solid rgba(177, 177, 177);
    border-radius: 5px;
}

.cart-product-quantity button{
    border: none;
    outline: none;
    background: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
}

.cart-product-quantity, .count {
    padding: 0.7rem 0;
}

.cart-product-total-price{
    justify-self: right;
    padding-right: 0.5rem;
    font-weight: 700;
}

.cart-summary{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid rgba(187, 187, 187);
    padding-top: 2rem;
}

.cart-summary .clear-cart{
    width: 130px;
    max-width: 100%;
    height: 48px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border: 0.5px solid rgba(177, 177, 177);
    color: gray;
    background: none;
    outline: none;
    cursor: pointer;
}

.cart-checkout{
    width: 270px;
    max-width: 100%;
}

.cart-checkout, .subtotal{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.cart-checkout, .subtotal, .amount{
    font-weight: 700;
}

.cart-checkout p{
    font-size: 14px;
    font-weight: 200;
    margin: 0.5rem 0;
}

.cart-checkout button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    background: #4b78e2;
    color: white;
    letter-spacing: 1.15px;
}