h1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    }

    button{
        /* background-color: rgb(9, 9, 211); */
        /* color: white; */
        /* font-size: 20px;
        border-radius: 50px;
        border: 2px solid red; */

    }